@inject MinVeckomeny.Data.DataService data;
@page "/extrapriser"

<PageTitle>Index</PageTitle>

<h1>Veckans extrapriser: </h1>


@if (string.IsNullOrWhiteSpace(errorString) == false)
{
	<div class="h2">@veckans.ErrorMessage</div>
}
else if (veckans is null)
{
	<p>Loading...</p>
}
else
{

	<table class="table table-striped">
		<thead>
			<tr>
				<th style="font-weight: normal;">Vara</th>
				<th style="font-weight: normal;">Extrapris</th>
				<th style="font-weight: normal;">Ordinarie pris</th>
				<th style="font-weight: normal;">Kategori</th>
				<th style="font-weight: normal;">Kampanjtyp</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in veckans.results)
			{
				<tr>
					<td>
						@(item.name != null ? item.name : null)
					</td>
					<td>@(item.potentialPromotions[0].price.formattedValue != null ? item.potentialPromotions[0].price.formattedValue + " kr" : null)</td>
					<td>@(item.price != null ? item.price + " kr" : null)</td>
					<td>@item.googleAnalyticsCategory</td>
					<td>
						@foreach (var thing in item.potentialPromotions)
						{
							<span>@thing.textLabelGenerated</span>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>


}



@code {
	ExtraPrisModel veckans;
	string errorString = null;

	protected override async Task OnInitializedAsync()
	{
		veckans = await data.GetExtraPrices();
		string errorString = veckans.ErrorMessage;
	}

}